body {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

#app {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2c3e50;
  margin-top: 60px;
}

div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.chat {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.chat__form-container {
  padding: 30px;
  border: 3px solid;
  border-radius: 15px;
}

.chat__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 300px;
}

.chat__form-room {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 30px;
}

.chat__form-name {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.chat__form-button {
  border: 1px solid #2c3e50;
  border-radius: 25px;
  background: #2c3e50;
  color: white;
  font-size: 16px;
  padding: 10px;
  margin-top: auto;
  cursor: pointer;
}

.chat__send-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: rgba(0, 0, 0, 0.15);
  padding: 0.25rem;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 50px;
}

.chat__message-input {
  border: none;
  padding: 0 1rem;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  border-radius: 25px;
  margin: 5px;
}

.chat__send-message-button {
  background: #2c3e50;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 25px;
  outline: none;
  color: #fff;
  cursor: pointer;
}

.chat__messages {
  list-style-type: none;
}

.chat__message {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 5px;
  margin: 5px;
  background-color: #2c3e50;
  border-radius: 15px;
  overflow-wrap: break-word;
  max-width: 300px;
  color: white;
}

.chat__message-header {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.chat__message-username {
  font-size: 20px;
  font-weight: bold;
}

.chat__message-timespan {
  color: #aeabab;
  font-size: 15px;
  margin-right: 5px;
}

.chat__message p {
  margin: 5px;
}

label {
  margin-bottom: 5px;
}
/*# sourceMappingURL=style.css.map */